.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.conteudo.img, .conteudo.texto{
    padding: 16px;
    margin: 24px;
}

.conteudo img{
    border-radius: 48px;
    opacity: 0.8;
    padding: 10px;
    margin: 8px;
}



.conteudo img:hover{
    transition: 0.8s;
    transform: scale(1.1);
    opacity: 1.0;

}
.texto{
    font-size: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;


}