*{
    padding: 0;
    margin: 0;
}


.historia h2{
   
    font-family: serif;
    font-size: 2px;
    margin-right: 300px;

}

.historia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.tex h1{
    text-align: center;
}



