

h1{
    text-align: center;
    padding-top: 20px;
    padding: 50px;
    gap: 20px   ;
    border: 1px solid black;
    border-radius: 5px;
}
h2{
    text-align: center;
   

}

h3{
    text-align: center;
    
}


.grafico{
    display: flex;
    flex-direction: row;

}

.graf1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.graf2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:auto;
}

.graf3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:auto;
}

.graf4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:auto;
}

.graf5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:auto;
    padding-left: 7rem;

}

.graf5 h3{
    margin: auto;
    padding-right: 100px;
    overflow: hidden;
}

.graf6{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: auto ;
    padding-left: 7rem;

}

.graf6 h3{
    margin: auto;
    padding-right: 100px;
    overflow: hidden;
}


