*{
    padding: 0;
    margin: 0;
    overflow: auto;
}

body{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
main{
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    padding-top: 30px;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    padding: 20px;
}

.cabecalho a{
    text-decoration: none;
    color: white;
}

header{
    border: 1px solid black;
    background-color: brown;
}
.his{
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.his h2{
    font-size: 20px;
    padding: 10px;
}

.graficosi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    gap:30px;
    padding-top: 50px;
    padding: 30px;
    
}
.graficosi a{
    text-decoration: none;
    color: black;
}